<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спам</title>
    <style>
       P {
            font-family: Verdana, sans-serif;
            color: #555555;
            font-size: 300%;
            text-align:center;
            text-shadow: 1px 1px 2px black;
       }

       html{
            box-shadow: inset 0em 0em 0.5em 0.1em black;
            background: #aaaaaa;
            overflow : hidden;
            height: 100%;
            width: 100%;
       }
    </style>
</head>
<body>
<p><b style="color:red;">ЗАЩИТА ОТ СПАМ АТАКИ</b></p>
<p>Вы совершили слишком много запросов на вход в панель администратора</p>
<p>Дождитесь окончания времени и можете продолжить пользоваться сайтом</p>
<p id="time"></p>

<script>
    var curr = new Date();
    var timeout = new Date(({{time.time}}*1000) + Date.now());
    function check() {
        idEl = document.getElementById('time');
        if (timeout > curr){
            curr = new Date();
            var out = new Date(timeout - curr);
            var hours = out.getUTCHours() < 10 ? '0'+out.getUTCHours(): out.getUTCHours();
            var minutes = out.getMinutes() < 10 ? '0'+out.getMinutes() : out.getMinutes();
            var seconds = out.getSeconds() < 10 ? '0'+out.getSeconds() : out.getSeconds();
            idEl.innerHTML = hours+':'+minutes+':'+seconds;
        }
        else{
            window.location = '/';
        }
    }
    check();
    setInterval(check , 1000);
</script>
</body>
</html>